<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.SISTEMA_DE_VENTASConnectionString"
            connectionString="Data Source=JHONNY-PC\JHONATAN;Initial Catalog=&quot;SISTEMA DE VENTAS&quot;;Persist Security Info=True;User ID=jhonny;Password=admin962011"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.SISTEMA_DE_VENTASConnectionString1"
            connectionString="Data Source=JHONNY-PC;Initial Catalog=&quot;SISTEMA DE VENTAS&quot;;User ID=jhonny;Password=admin962011"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>