<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.cn" connectionString="Data Source=JHONNY-PC\JHONATAN;Initial Catalog=&quot;SISTEMA DE VENTAS&quot;;Persist Security Info=True;User ID=jhonny;Password=admin962011"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>